{% extends 'base.html.twig' %}
{% trans_default_domain 'activity' %}
{% block body %}
    {% include '_flash-messages.html.twig' %}
    <div class="mt-5">
        <h1>Welcome {{ app.user.userName }}</h1>
    </div>
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'activity.created_at'|trans }}</th>
                <th nowrap="nowrap">{{ 'activity.address'|trans }}</th>
                <th>{{ 'activity.user_agent'|trans }}</th>
                <th>{{ 'activity.user_activity'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in activity %}
                <tr>
                    <th scope="row" nowrap="nowrap">{{ item.createdAt|date("d.m. Y H:i:s", "Europe/Prague") }}</th>
                    <td>{{ item.address }}</td>
                    <td class="small">{{ item.userAgent }}</td>
                    <td>{{ item.activity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-5">&nbsp;</div>
{% endblock %}